body {
  background-color: gray;
  width: 100%;
}

.screen {
  margin: 0 auto;
  margin-top: 2%;
  background-color: black;
  width: 480px;
  height: 800px;
  color: #ffffff;
}

.screen .header-nav {
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.screen .header-nav .header-nav__col-2 i {
  margin-left: 3px;
}

.screen .header {
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-size: 24px;
}
